<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tekkr.flypigeonsample">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FlyPigeonSampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlyPigeonSample"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.views.bookingFlow.FlightBookingFlowActivity"
            android:exported="true" />
        <activity
            android:name=".ui.views.flights.FlightsListActivity"
            android:exported="true" />
        <activity
            android:name=".ui.views.airportssearch.SearchAirportsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.views.home.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_JW67c07tSgsoAP"
            />
    </application>

</manifest>